#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
}

.colorizer{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  margin-top: 40%;
  gap: 10px;
}


.colorizer__input, .colorizer__label {
  height: 40px;
  width: 100%;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
}



.colorizer__input{
  background-color: aliceblue;
  color: black;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  letter-spacing: 5px;
}

.colorizer__label{
  background-color: blue;
  position: relative;
  
}


#root{
  margin: 0;
  padding: 0;
}


.colorizer__label::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}



